---
import ListCategories from '@/components/ListCategories'
import ListPosts from '@/components/ListPosts'
import Title from '@/components/Title'
import BaseLayout from '@/layouts/BaseLayout'
import { getPosts } from '@/utils'

const MAX_POSTS = 5
const posts = await getPosts(MAX_POSTS)
---

<BaseLayout title='Home'>
	<Title title='Blog Title' />
	<ListCategories />

	<div>
		<h2 class='text-lg font-medium tracking-wide'>Latest Posts</h2>
		<ListPosts FirstBig={true} posts={posts} />
	</div>
</BaseLayout>
