---
const SOCIALNETWORKS = [
	{
		name: 'Github',
		url: 'https://github.com/danielcgilibert/blog-template'
	},

	{
		name: 'Twitter',
		url: 'https://github.com/danielcgilibert/blog-template'
	}
]

const today = new Date()
---

<footer class='border-t pb-4'>
	<div>
		<h3 class=''>Social</h3>
		<ul class=''>
			{
				SOCIALNETWORKS.map((network) => (
					<li>
						<a class='' href={network.url} target='_blank' aria-label={network.name}>
							{network.name}
						</a>
					</li>
				))
			}
		</ul>
	</div>

	<p class=''>
		Your Name &copy; 2022 - {today.getFullYear()}. All rights reserved.
	</p>
</footer>
