---
import MenuIcon from './icons/MenuIcon.astro'
import ToggleLanguage from './ToggleLanguage.astro'

const NAVIGATION = [
	{
		name: 'Article',
		path: '/post'
	},
	{
		name: 'Project',
		path: '/project'
	},
	{
		name: 'About',
		path: '/about'
	}
]
---

<header class='flex justify-between items-center h-12 font-semibold mx-12' transition:persist='navbar'>
	<h1 class='col-start-1'><a class='text-lg mr-auto' href='/'>Home</a></h1>
	<nav class=''>
		<ul class='flex justify-between gap-4'>
			{
				NAVIGATION.map((item) => (
					<li>
						<a href={item.path} class='hover:text-blue-500'>
							{item.name}
						</a>
					</li>
				))
			}
		</ul>
	</nav>
	<div class=''>
		<ToggleLanguage />
		<button
			id='menu-toggle-button'
			type='button'
			class='block sm:hidden'
			aria-controls='menu'
			aria-expanded='false'
		>
			<MenuIcon />
			<span class='sr-only'>Show Menu</span>
		</button>
	</div>
	<div
		id='menu'
		class='fixed inset-0 w-screen h-screen
z-10 transform -translate-y-full bg-white duration-300 ease-in-out'
		role='dialog'
		aria-modal='true'
	>
		<ul></ul>
	</div>
</header>

<script>
	document.addEventListener('DOMContentLoaded', () => {
		const menuButton = document.getElementById('menu-toggle-button')
		const menu = document.getElementById('menu')
		if (menuButton && menu) {
			menuButton.addEventListener('click', (event) => {
				event.stopPropagation()
				const isExpanded = menuButton.getAttribute('aria-expanded') === 'true'
				menuButton.setAttribute('aria-expanded', String(!isExpanded))
				menu.classList.toggle('-translate-y-full', isExpanded)
				menu.classList.toggle('translate-y-0', !isExpanded)
			})
		}
		document.addEventListener('click', (event) => {
			if (menuButton && menu) {
				const isClickInsideMenu = menu.contains(event.target)
				const isClickInsideButton = menuButton.contains(event.target)
				if (!isClickInsideMenu && !isClickInsideButton) {
					menuButton.setAttribute('aria-expanded', 'false')
					menu.classList.add('-translate-y-full')
					menu.classList.remove('translate-y-0')
				}
			}
		})
	})
</script>
